.image-container{
    width: 100%;
    overflow: hidden;
   object-fit: contain;
   background-color: black;
   display: flex;
   justify-content: center;
   padding: 25px;
   z-index: -1;
  
   
}
.image-container img {
  width: 80%;
  height: 70%;
  border-radius: 5px;
  border: 1px solid #9bf6ff;
  position: relative;
  
  

}
.icon{
    border-radius: 50%;
    background-color: #6930c3;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.lines{
 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.image-text{
    position: absolute;
    right: 20px;
    top: 200%;
   display: flex;
    justify-content: center;
    align-content: center;
   padding: 10px;
    width: 15%;
    height: 10%;
    z-index: 1;
    border: 1px solid rgb(64, 68, 92);
    color: white;
    background-color: black;
    

}