.sucess{
    background-color: black;
    padding: 50px;
    
}
.sucess h3{
    color: grey;
}
.sucess__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px 0;
}
.sucessbox{
    display: flex;
    margin-top: 50px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
   
    gap: 20px;
    padding: 10px;
}
.iconss{
    color: rgb(152, 82, 238);
    font-size: 20px;
    height: 50px;
    
    padding-bottom: 10px;
    margin-top: 20px;
    
    
}
botton{
    
    display: flex;
    width: 8%;
    height: 100%;
    padding-left: 3%;
    background-color: rgb(37, 36, 36);
    align-items: center;
    border-radius: 0.5em;
}
.sucesspara{
   
    font-size: 20px;
    padding-bottom: 10px;
   
}
.sucess-item{
    color: white;
    display: flex;
    flex-direction: column;
    
    width: 300px;
    height:250px ;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 20px;
  
}
.sucess-item:hover{
    cursor: pointer;
    box-shadow: 0 0 3px #be64df;
    
    }
.sucess-item p{
    color: grey;
    font-size: 14px;
  padding-top: 20px;
    height: 80px;
   

}
@media (max-width: 768px) {
    .sucessbox {
        flex-direction: column;
        align-items: center;
    }
    .sucess-item {
        width: 90%;
        margin-bottom: 20px;
    }
}